In [1]:
print("Hellow World")

Hellow World

# Heading 1

## Heading 2

### Heading 3|

In [1]:
a = 10
print(a)

10

In [2]:
a = 22.03
print(a)

22.03

In [5]:
a=20
b=10
print(a+b)

30

In [6]:
abc

NameError: name 'abc' is not defined

In [9]:
type("abc")

str

In [10]:
type('a')

str

In [11]:
type("1")

str

In [12]:
type(1)

int

In [13]:
type(11.23)

float

In [14]:
print("Osama's pen")

Osama's pen

In [15]:
print("Osama",123,122.33,'C')

Osama 123 122.33 C

In [17]:
print("Osama",123,123.455, sep="CC")

OsamaCC123CC123.455

In [18]:
print("2+5")

2+5

In [19]:
print(2+5)

7

In [20]:
print("Hello" + str(2))

Hello2

In [21]:
print(2+int("200"))

202

In [22]:
print(2+4)
#comment kia haina bhai nazar nahi aunga :D

6

In [31]:
name = "Osama"
age = 20
print("My name is "+name + " My age is "+str(age))

My name is Osama My age is 20

In [32]:
print("My name is {} My age is {}".format(name,age))

My name is Osama My age is 20

In [33]:
print("My name is {1} My age is {0}".format(name,age))

My name is 20 My age is Osama

In [38]:
print(f"My name is {name} \n My age is {age}")

My name is Osama
 My age is 20

In [40]:
print("My name is {0}\nMy age is {1}".format(name,age))

My name is Osama
My age is 20

In [41]:
print(f"My name is {name}\n My age is {age}")

My name is Osama
 My age is 20

In [42]:
print(f"My name is {name} \nMy age is {age}")

My name is Osama
My age is 20

In [43]:
type(a)

str

In [44]:
type(name)

str

In [45]:
type(age)

int

# print("Hello \n"*2)

In [53]:
a=20
b=30
c=a+b
print(c)

50

In [54]:
a=20
b=30
c=a/b
c

0.6666666666666666

In [55]:
a=20
b=30
c=a//b
c

0

In [58]:
a=23123124
b=312123
c=a/b
round(c,3)

74.083

In [1]:
a=10
type(a)

int

In [2]:
a=10.23
type(a)

float

In [3]:
print("a")

a